<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="post-header">
        <h1><%= modifiedPost.title %></h1>
        <p>
          🕒 작성일: <%= new Date(modifiedPost.createdAt).toLocaleDateString()
          %>
        </p>
      </div>

      <% if (modifiedPost.image_url) { %>
      <img
        class="modifiedPost-image"
        src="<%= modifiedPost.image_url %>"
        alt="게시글 이미지"
        width="100px"
        height="100px"
      />
      <% } %>

      <div class="modifiedPost-content">
        <p><%= modifiedPost.content %></p>
      </div>
    </div>
  </body>
</html>
