<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <link rel="stylesheet" href="/static/css/write.css" />
  </head>
  <body>
    <%- include("nav") %>
    <!-- 글쓰기 -->

    <!-- 제목 -->
    <div class="titleBox">
      <span id="titleName">제목</span>
      <input type="text" name="title" required />
    </div>
    <div class="image">
      <input type="file" multiple />
    </div>
    <div class="editor-container">
      <div id="detailEditor"></div>
    </div>
    <button class="saveBtn">발행</button>
  </body>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/static/js/write.js"></script>
</html>
