body {
  user-select: none;
  -webkit-user-drag: none;
}

.carosel {
  display: flex;
  width: 100%;
  position: relative;
  top: 0;
}

.logo {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: -200px;
  opacity: 0;
  transform: translateY(50px);
  animation: moveUpLogo 1s forwards;
  z-index: 2;

  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@keyframes moveUpLogo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.caroselContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.caroselImg {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.489) 70%,
    rgba(0, 0, 0, 0)
  );
  pointer-events: none;
}

.posts img {
  width: 100px;
  height: 100px;
}
