body {
  user-select: none;
  -webkit-user-drag: none;
}

.backColor {
  background-color: rgba(181, 167, 183, 0.59);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carosel {
  display: flex;
  width: 100%;
  position: relative;
  top: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  top: 150px;
  opacity: 0;
  transform: translateY(50px);
  animation: moveUpLogo 1s forwards;
  z-index: 2;
  overflow-x: hidden;

  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@keyframes moveUpLogo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo img {
  max-width: 150%;
  width: auto;
  height: auto;
}

.logo h3 {
  /* margin: 30px; */
  color: white;
}

.caroselContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.caroselImg {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.489) 70%,
    rgba(0, 0, 0, 0)
  );
  pointer-events: none;
}

/* 게시글 */
.categoryBox {
  display: flex;
  width: 100%;
  padding: 0 30px;
  justify-content: center;
}

.mainContainer {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin-top: -150px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.postsBox {
  display: flex;
  width: 95%;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.allPostsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  padding: 10px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.allPostContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-post-card {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 1215px;
  width: 1000px;
  height: 200px;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 30px 20px 50px;
  transition: transform 0.3s ease, background-color 0.3s ease-in;
}

.all-post-card:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(1.01);
}

.all-post-card img {
  max-width: 200px;
}

.textBox,
.favoriteIcon,
.post-image {
  cursor: pointer;
}

.post-info {
  display: flex;
  gap: 10px;
  padding: 7px 15px 0 0;
}

.favoriteIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 3px;
}

/* 좋아요 버튼 */
.favoriteIcon img {
  width: 20px;
}

/* 게시글 비어있을 때 */
.emptyImg {
  display: flex;
  width: 100%;
  margin-top: -100px;
  align-items: center;
  justify-content: center;
}

.emptyImg img {
  margin-top: 50px;
  width: 100%;
  max-width: 550px;
}

@media screen and (max-width: 1275px) {
  .postsBox {
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .categorys {
    top: -100px;
  }
}

@media screen and (max-width: 768px) {
  .postsBox {
    padding: 30px;
  }

  .postContainer {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .categorys {
    display: none;
  }
  .mainContainer {
    margin-top: 40px;
  }
}
